   <div class="row" >
      <div class='col-md-8 col-md-offset-2 col-sm-12 col-xs-12'>
        <div class="x_panel tile">
          <label style="font-weight:300; font-size:18px; padding:10px;">Add New Faq</label>
          <hr style="margin-bottom: 0px;">
          <div class="x_content" style="padding:15px;">
          <small class="pull-right" style="color:red; font-weight: 400; font-size:14px"><sup>*All fields are required</sup></small>
            <form role="form" name="myForm">
          <div class="form-group">
            <label class='text-muted'>Question</label> 
            <input type="text" ng-model="user.que" class="form-control ryt-input" placeholder=""/>
          </div>
           <div class="form-group">
            <label class='text-muted'>Answer</label> 
            <input type="text" ng-model="user.ans" class="form-control ryt-input" placeholder=""/>
          </div>
          
      </form>
          </div>
        </div>
      </div>
    </div>