
       <div class="x_panel tile">
          <label style="font-weight:300; font-size:18px; padding:10px;color:black">Add Product</label>
          <hr style="margin-bottom: 0px;">
          <div class="x_content" style="padding:15px;">
            <form role="form" name="myForm">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td style='text-align:center;vertical-align:middle' width="15%"><label class='text-muted'>Product Name</label></td>
                      <td width="85%">
                        <input  ng-model="product.name" class="form-control" placeholder="" >
                      </td>
                    </tr>
                    <tr>

                      <td style='text-align:center;vertical-align:middle'><label class='text-muted'>Product Image</label></td>
                      <td>
                        <img style="width:200px; height:200px;" ng-show= "imageSrc" ng-src="{{imageSrc}}"  />
                        <input type="file" ng-file-select="onFileSelect($files)"  ng-model="imageSrc">
                      </td>

  </tr>
  <tr>

  <td style='text-align:center;vertical-align:middle'><label class='text-muted'>Short Description</label>
    <div class="popup" ng-click="leadme()">
        <i class="glyphicon glyphicon-question-sign"></i>
        <span class="popuptext" id="myPopup">leading option</span>
    </div>
  </td>
  <td>
    <input type="text"  ng-model="product.sdesc" class="form-control" placeholder=""/>

  </td>
  </tr>
  <tr>

  <td style='text-align:center;vertical-align:middle'><label class='text-muted'>Long Description</label>
    <div class="popup" ng-click="leadme()">
        <i class="glyphicon glyphicon-question-sign"></i>
        <span class="popuptext" id="myPopup">leading option</span>
    </div>
  </td>
  <td>
    <textarea  ng-model="product.ldesc" class="form-control" placeholder="" style="height:100px;" ></textarea>

  </td>
  </tr>

  <tr>

  <td style='text-align:center;vertical-align:middle'><label class='text-muted'>Price</label></td>
  <td>
    <div class="col-xs-4" >
    <input type='text'  ng-model="product.price" class="form-control" placeholder="Example:Rs 100.00" style="margin-left: -16px;" >
  </div>
  <div class="col-xs-2">
      <label class='text-muted' style='vertical-align:middle'>Currency</label></div>
      <div class="col-xs-6">
        <select class="selectpicker" style="width:25%">
          <option>Rs</option>
          <option>$</option>
          <option>AUD</option>
          </select>

</div>
    <!-- <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select
   <span class="caret"></span></button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rs</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">$</a></li>
   </ul> -->
 <!-- </div> -->

  </td>
  </tr>
  <tr>

  <td style='text-align:center;vertical-align:middle'><label class='text-muted'>Specification</label></td>
  <td>
    <div class="col-xs-4" >
        <input type="text" class="form-control" name="label" placeholder="Label" style="margin-left: -16px;" />
    </div>
    <div class="col-xs-4">
        <input type="text" class="form-control" name="desc" placeholder="Description" />
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-default addButton" ng-click='add()'><i class="fa fa-plus"></i></button>
         </div>
  </td>
  </tr>
  <tr>

  <td style='text-align:center;vertical-align:middle'><label class='text-muted'>Attachment
  <i class="fa fa-paperclip" aria-hidden="true" style="font-size:20px;"></i>
  </label></td>
  <td>

    <input type="file" ng-file-select="onFileSelect($files)"  ng-model="product.attach">


  </td>
  </tr>
  <tr>
  <td style='text-align:center;vertical-align:middle'><label class="text-muted"> Tags </label></td>
  <td>
<tags-input ng-model="tags"></tags-input>  </td>
  </tr>
  </tbody>
  </table>
  <div class="pull-left">
    <button class="btn btn-danger" type="reset">Reset</button>
  </div>
  </form>
  <div align="right">
  <button class="btn btn-default" ng-click="canceladdoredit(trigger,'edit')">Preview</button>
  <button class="btn btn-info" ng-click="save(trigger,'edittrigger')">Submit</button>
  </div>
