<div  class="x_panel tile" style="background-color: white;margin-top:1%;width:97%" ng-controller="agentListCtrl" ng-init="init()" ng-cloak>


    <div class="col-xs-12" align="right">
        
        <span>Status</span> &nbsp;<i class='fa fa-check-circle' style='color:green'></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <button class="btn btn-default" ng-click="route('addservice')"><i class="fa fa-handshake-o"></i> &nbsp;Services +</button> -->
        <i class="fa fa-thumbs-o-up fa-1x" aria-hidden="true"></i>&nbsp;&nbsp;<span class="badge">1000</span>&nbsp;&nbsp;&nbsp;&nbsp;
       <i class="fa fa-thumbs-o-down fa-1x" aria-hidden="true"></i>&nbsp;&nbsp;<span class="badge">50</span>
         
        
      </div>

        <div class="x_content" >
         <form class="form-horizontal" role="form" name="myForm">
            
              <table class="table table-hover">
                <tbody>
                <tr>
                    <td width="15%" ><label class='text-muted'>Profile Picture</label><small style="color:red; font-size:12px"><sup>*required</sup></small></td> 
                    <td>
                      
                        <img class="direct-chat-img" style="width:100px;height:100px" src="{{a.pic}}" alt="message user image">
                        
                    
                    </td>
                  </tr>
                  <tr>
                    <td width="15%" ><label class='text-muted'>Full Name</label><small style="color:red; font-size:12px"><sup>*required</sup></small></td> 
                    <td width="85%">
                      <span>{{a.name}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td width="15%" ><label class='text-muted'>Email</label><small style="color:red; font-size:12px"><sup>*required</sup></small></td> 
                    <td width="85%">
                     	<span>{{a.email}}</span>	
                    </td>
                  </tr>
                  <tr>
                    <td width="15%" ><label class='text-muted'>Phone</label></td> 
                    <td width="85%">
                       <span>{{a.phone}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td width="15%"><label class='text-muted'>Role</label></td> 
                    <td width="85%">
                     <span>{{a.role}}</span>
                    </td>
                  </tr>
                 

                </tbody>
              </table> 
              <span class="text-muted" style="margin-right:62%;font-size: 13px">Last seen 12:29 30-May-2017</span>
            </form>
            <div align="right">
             
              <button class="btn btn-info" style="margin-right:1%"  ng-click="go(edit)">Edit</button>
            </div>     
        </div>

   </div>