    <div class='col-xs-12 x_panel tile' style="padding:15px 2px 15px 2px;">
      <div class="col-xs-12" align="right">
	  	<button class="btn btn-default" ng-click="route('addproduct')"><i class="fa fa-product-hunt"></i> &nbsp; Products +</button>
        <!-- <button class="btn btn-default" ng-click="route('addservice')"><i class="fa fa-handshake-o"></i> &nbsp;Services +</button> -->
        <button class="btn btn-default" ng-click="route('addoffer')"><i class="fa fa-tags"></i> &nbsp;Offers +</button>
        <button class="btn btn-default" ng-click="route('addfaq')"><i class="fa fa-question-circle-o"></i> &nbsp;FAQ +</button>
        <button class="btn btn-default" ng-click="route('addlocation')"><i class="fa fa-map-marker"></i> &nbsp;Locations +</button>
        <button class="btn btn-default" ng-click="route('addmultimedia')"><i class="fa fa-file-image-o"></i> &nbsp;Multimedia +</button>
      </div>
    </div>
    
  <div class="row">
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <div class="x_panel tile">
        <div class="x_content">
        	<div class='col-md-2 col-sm-3 col-xs-6 leftrightpad' ng-click="route('products')">
	          <div class="x_panel tile fixed_height_380 overflow_hidden">
	            <div class="x_title" align="center">
	              <label style="font-size:16px; font-weight:400;">Products</label>
	              <div class="clearfix"></div>
	            </div>
	            <div class="x_content" align="center">
	              <p style="font-size:30px; font-weight:300; color:#028690">631</p>
	            </div>
	          </div>
	        </div>
	        <!-- <div class='col-md-2 col-sm-3 col-xs-6 leftrightpad' ng-click="route('services')">
	          <div class="x_panel tile fixed_height_380 overflow_hidden">
	            <div class="x_title" align="center">
	              <label style="font-size:16px; font-weight:400;">Services</label>
	              <div class="clearfix"></div>
	            </div>
	            <div class="x_content" align="center">
	              <p style="font-size:30px; font-weight:300; color:#028690">0</p>
	            </div>
	          </div>
	        </div> -->
	        <div class='col-md-2 col-sm-3 col-xs-6 leftrightpad' ng-click="route('offers')">
	          <div class="x_panel tile fixed_height_380 overflow_hidden">
	            <div class="x_title" align="center">
	              <label style="font-size:16px; font-weight:400;">Offers</label>
	              <div class="clearfix"></div>
	            </div>
	            <div class="x_content" align="center">
	              <p style="font-size:30px; font-weight:300; color:#028690">3</p>
	            </div>
	          </div>
	        </div>
	        <div class='col-md-2 col-sm-3 col-xs-6 leftrightpad' ng-click="route('faqs')">
	          <div class="x_panel tile fixed_height_380 overflow_hidden">
	            <div class="x_title" align="center">
	              <label style="font-size:16px; font-weight:400;">FAQs</label>
	              <div class="clearfix"></div>
	            </div>
	            <div class="x_content" align="center">
	              <p style="font-size:30px; font-weight:300; color:#028690">53</p>
	            </div>
	          </div>
	        </div>
	        <div class='col-md-2 col-sm-3 col-xs-6 leftrightpad' ng-click="route('locations')">
	          <div class="x_panel tile fixed_height_380 overflow_hidden">
	            <div class="x_title" align="center">
	              <label style="font-size:16px; font-weight:400;">Locations</label>
	              <div class="clearfix"></div>
	            </div>
	            <div class="x_content" align="center">
	              <p style="font-size:30px; font-weight:300; color:#028690">16</p>
	            </div>
	          </div>
	        </div>
	        <div class='col-md-2 col-sm-3 col-xs-6 leftrightpad' ng-click="route('multimedia')">
	          <div class="x_panel tile fixed_height_380 overflow_hidden">
	            <div class="x_title" align="center">
	              <label style="font-size:16px; font-weight:400;">Multimedia</label>
	              <div class="clearfix"></div>
	            </div>
	            <div class="x_content" align="center">
	              <p style="font-size:30px; font-weight:300; color:#028690">4</p>
	            </div>
	          </div>
	        </div>
        </div>
      </div>
    </div>
  </div>
