<div class='col-xs-12' ng-controller='chatCtrl'  ng-init='init()' ng-cloak>

  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li ng-repeat="tab in tabs" ng-class="{'active':isActiveTab(tab)}" ng-click="onClickTab(tab)" style="margin:2px;"><a data-toggle="tab">{{tab.title}}&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true" ng-show="tab.closeable" ng-click="addorremovetab('remove',$index)"></i></a></li>
    </ul>
    <div class="tab-content">
      <div ng-include="currentTab"></div>
    </div>
  </div><!-- /.nav-tabs-custom -->
</div>
