<div class="x_panel tile" ng-controller="chatListCtrl" ng-cloak>
        <div class="x_content" >
          <table class="table table-hover" style="width:100%">
            <thead>
              <th> Status </th>
              <th> Feedback </th>
              <th></th>
              <th style='text-align:center'> Agent </th>
              <th style='text-align:center'> Platform </th>
              <th style='text-align:center'> Last Message</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in chats" style='cursor:pointer;' ng-click="addorremovetab('add',item)">
                <td style='text-align:center;vertical-align:middle; padding:0px; width:5%; font-size:18px;'>
                  <i class='fa fa-check-circle' style='color:green' ng-show='item.status=="active"'></i>
                  <i class='fa fa-clock-o' style='color:orange' ng-show='item.status=="away"'></i>
                  <i class='fa fa-minus-circle' style='color:#555' ng-show='item.status=="offline"'></i>
                  <i class='fa fa-exclamation-triangle' style='color:red' ng-show='item.status=="struggling"'></i>
                </td>
                <td  style='text-align:center; vertical-align:middle;padding:0px; width:5%; font-size:18px;'>
                  <i class='fa fa-thumbs-up' style='color:green' ng-show="item.feedback=='like'"> </i>
                  <i class='fa fa-thumbs-down' style='color:red' ng-show="item.feedback=='dislike'"> </i>
                </td>
                <td style='vertical-align:middle;padding:10px '> <span style='color:#333333; font-weight:bold; margin-right:5px; width:50%'> {{item.name}}</span><span style='color:#888888; font-size:12px;'>{{item.msg}} </span></td>
                <td  style='text-align:center; vertical-align:middle; padding:0px'>
                  <i class='fa fa-robot' style='color:#999999' ng-show="item.agent=='bot'"> </i> {{item.agent}}
                </td>
                <td  style='text-align:center; vertical-align:middle;padding:0px'>
                  {{item.platform}}
                </td>
                <td  style='text-align:center; vertical-align:middle; padding:0px'> {{item.updateTs*1000 | date:'HH:mm dd-MMM-yyyy'}}</td>
              </tr>
            </tbody>
          </table>
          <h2 style='color:#bbbbbb; text-align:center' ng-show='!chats.length'> No Data Found</h2>
        </div>
      </div>
