<div class="col-xs-12" ng-controller="custdtlsCtrl" ng-init="init()" ng-cloak>
<div class='col-md-12 col-sm-12 col-xs-12' style="padding-left:0px;">
    <ul class="breadcrumb" style="font-size:16px;">
      <li ng-click="route('/dashboard')"><a>Home</a></li>
      <li ng-click="route('/customers')"><a>Customers</a></li>
      <li class="active">Customer Details</li>
    </ul>
  </div>
<!-- Main content -->
        <section class="content">

          <div class="row">
            <div class="col-md-3">

              <!-- Profile Image -->
              <div class="box box-primary">
                <div class="box-body box-profile">
                  <img class="profile-user-img img-responsive img-circle" src="assets/img/usericon.png" alt="User profile picture">
                  <h3 class="profile-username text-center">Rahul Mishra</h3>
                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>NPS:</b> <a class="pull-right">8</a>
                    </li>
                    <li class="list-group-item">
                      <b>Visits:</b> <a class="pull-right">4</a>
                    </li>
                    <li class="list-group-item">
                      <b>Purchase:</b> <a class="pull-right">11,322</a>
                    </li>
                    <li class="list-group-item">
                      <b>Loyalty Points</b> <a class="pull-right">543</a>
                    </li>
                    <li class="list-group-item">
                      <b>Feedbacks</b> <a class="pull-right">3</a>
                    </li>
                    <li class="list-group-item">
                      <b>FB Interactions:</b> <a class="pull-right">17</a>
                    </li>
                    <li class="list-group-item">
                      <b>Web Interactions:</b> <a class="pull-right">3</a>
                    </li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

              <!-- About Me Box -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">About</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>Name:</b> <a class="pull-right">Rahul Mishra</a>
                    </li>
                    <li class="list-group-item">
                      <b>Phone:</b> <a class="pull-right">9611876767</a>
                    </li>
                    <li class="list-group-item">
                      <b>Email</b> <a class="pull-right">rahul@rytangle.com</a>
                    </li>
                    <li class="list-group-item">
                      <b>Gender</b> <a class="pull-right">Male</a>
                    </li>
                    <li class="list-group-item">
                      <b>DOB</b> <a class="pull-right">Jan 17</a>
                    </li>
                    <li class="list-group-item">
                      <b>Anniversary</b> <a class="pull-right">Jun 3</a>
                    </li>
                    <li class="list-group-item">
                      <b>Newsletter Subscription</b> <a class="pull-right">No</a>
                    </li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-9">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs"  ng-controller="TabsCtrl">
                  <li ng-repeat="tab in tabs.customers" ng-class="{'active':isActiveTab(tab.url)}" ng-click="onClickTab(tab)" style="margin:2px;"><a data-toggle="tab">{{tab.title}}</a></li>
                </ul>
                <div class="tab-content">
                  <div ng-include="currentTab"></div>
                </div>
              </div><!-- /.nav-tabs-custom -->
            </div><!-- /.col -->
          </div><!-- /.row -->

        </section><!-- /.content -->
</div>
