<div class="col-xs-12" ng-controller="dashboardCtrl" ng-init="init()" ng-cloak>

  <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
  
  	<!-- pi chart for Bot -->
  	<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 well" style="background-color: white">

	  	<div class="col-xs-12 col-md-4 sol-sm-6 col-lg-4" style="overflow: hidden" >
	  		
	  		<div class="well" style="background-color: white">		
	  			<hc-pie-chart title="Bot" data="botdata">Placeholder for pie chart</hc-pie-chart>
	  			
	  		</div>
	  	</div>
	  	<!-- pi chart for Bot end -->
	  	<!-- Session time Start -->
	  	<div class="col-xs-12 col-md-4 sol-sm-6 col-lg-4" style="overflow: hidden;" >
	  		
	  		<div class="well" style="background-color: white">
	  			 <hc-pie-chart title="Session" data="sessiondata">Placeholder for pie chart</hc-pie-chart>
	  			
	  		</div>
	  	</div>
	  	<!-- Session time End -->

	  	<!-- Responses Start -->

	  	<div class="col-xs-12 col-md-4 sol-sm-6 col-lg-4" style="overflow: hidden" >
	  		
	  		<div class="well" style="background-color: white">
	  			 <hc-pie-chart title="Responses" data="responsedata">Placeholder for pie chart</hc-pie-chart>
	  			
	  		</div>
	  	</div>
	  	<!-- Responses End -->
  	</div>
<!--bar chart-->
	<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 well" style="background-color: white">
	  	<div class="col-xs-12 col-md-6 sol-sm-12 col-lg-6" style="overflow: hidden" >
	  			<div class="well" style="background-color: white">
					<hc-chart config="chartConfig"></hc-chart>
				</div> 
		 </div>
	</div>
</div>
