<div class="x_panel tile" ng-controller="editLocationCtrl" ng-cloak ng-init="init()">
    <div class="x_content" style="padding:15px;">
        <label style="font-weight:300; font-size:18px; padding:10px;">Edit Location</label>
        <label class="switch pull-right">
  <input type="checkbox" checked ng-model="selected.avail">
  <div class="slider round"></div>
</label>
        <form role="form" name="myForm">
            <table class="table table-hover" style="width:100%">
                <tbody>
                    
                    <tr>
                        <td width: '15%; '>
                            <label class="text-muted">Location name</label></td>
                        <td width="85%">
                            <input type="text" ng-model="selected.location" class="form-control" placeholder="Ex:E-city">
                            <!--<input type="text" ng-model="que" class="form-control " placeholder="Type a Question"  />-->
                        </td>
                    </tr>
                    <tr>
                        <td width: '15%; '>
                            <label class="text-muted">Address</label></td>
                        <td width="35%">
                            <textarea type="text" ng-model="selected.address" class="form-control " placeholder="Type your address"></textarea>
                        </td>
                    </tr>


                    <tr>

                        <td width: '15%; '>
                            <label class="text-muted"> City </label></td>

                        <td>
                            <div class="col-xs-3">
                                <input ng-model="selected.city" class="form-control" placeholder="Ex: Bangalore" style="margin-left:-16px">
                            </div>
                            <div class="col-xs-1" style='text-align:center;vertical-align:middle; padding:0px; '>
                                <label class="text-muted">  Country  </label>
                            </div>
                            <div class="col-xs-3">
                                <input ng-model="selected.country" class="form-control" placeholder="Ex:India">
                            </div>
                            <div class="col-xs-1" style='text-align:center;vertical-align:middle; padding:0px; '>
                                <label class="text-muted">  Zip  </label>
                            </div>
                            <div class="col-xs-3">
                                <input ng-model="selected.zip" name="zip" class="form-control" placeholder="Ex:560089" style="margin-left:-30px">
                            </div>


                        </td>
                    </tr>


                    <tr>
                        <td width: '15%; '> <label class="text-muted">  Latitude </label></td>
                        <td>
                            <div class="col-xs-5">
                                <input ng-model="selected.latitude" class="form-control" placeholder="Ex: 12.971599" style="margin-left:-16px">
                            </div>
                            <div class="col-xs-1">
                                <label class="text-muted" style='text-align:center;vertical-align:middle; padding:0px; '>   Longitude  </label>
                            </div>
                            <div class="col-xs-4">
                                <input ng-model="selected.longitude" class="form-control" placeholder="Ex: 12.971599">
                            </div>


                        </td>
                    </tr>

                    <tr>
                        <td width="15%"><label class="text-muted">Contact</label></td>
                        <td width="35%">
                            <input type="number" ng-model="selected.contact" class="form-control" placeholder="Ex: 9480628368">
                        </td>

                    </tr>
{{selected.other}}
                   <tr ng-repeat="refer in selected.other"> 
                        <td width="15%"><label class="text-muted">Other</label></td>
                        <td>
                            <div class="col-md-4">

                                <input type="text" class="form-control" ng-model="refer.label" placeholder="Label" style="margin-left:-16px">

                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="refer.desc" placeholder="Description" />
                            </div>

                            <div class="col-md-1"> 
                                <button type="button" class="btn btn-default addButton" ng-click='addOther()'><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>

                    <td> <label class="text-muted"> Upload Image </label></td>

                    <td>
                        <div class="col-xs-3">
                            <input type="file" ng-file-select="onFileSelect($files)" ng-model="selected.img" multiple>
                        </div>
                        <div class="col-xs-1">
                            <img style="width:100px; height:110px;" ng-src="{{imageSrc}}" ng-show="imageSrc" />
                            <img style="width:100px; height:110px;" ng-src="{{selected.img}}" ng-show="!imageSrc" />
                        </div>
                    </td>
                    </tr>

                </tbody>
            </table>
    
        </form>
        <div align="right">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button> &nbsp;&nbsp;
            <button class="btn btn-primary" ng-click="saveEditloc()">Save</button>
        </div>
    </div>
</div>