
       <div class="x_panel tile" ng-controller="productListCtrl">
          <label style="font-weight:300; font-size:18px; padding:10px;color:black">Edit Product</label>
          <label class="switch pull-right">
            <input type="checkbox" checked ng-model="selected.avail">
            <div class="slider round"></div>
          </label>
          <hr style="margin-bottom: 0px;">
          <div class="x_content" style="padding:15px;">
            <form role="form" name="myForm">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td style='vertical-align:middle' width="15%"><label class='text-muted'>Product Name</label></td>
                      <td width="85%">

                        <input  ng-model="selected.name" class="form-control" placeholder="" >
                      </td>
                    </tr>
                    <tr>

                      <td style='vertical-align:middle'><label class='text-muted'>Product Image</label></td>
                      <td>
                        <img style="width:200px; height:200px;" ng-show= "imageSrc" ng-src="{{imageSrc}}"  />
                        <img style="width:200px; height:200px;" ng-show= "!imageSrc" ng-src="{{selected.img}}" />
                        <input type="file" ng-file-select="onFileSelect($files)" ng-model="selected.img">

                      </td>


  </tr>
  <tr>

  <td style='vertical-align:middle'><label class='text-muted'>Short Description</label>
    <div class="popup" ng-click="leadme()">
        <i class="glyphicon glyphicon-question-sign"></i>
        <span class="popuptext" id="myPopup">leading option</span>
    </div>
  </td>
  <td>
    <input type="text" ng-model=selected.shortdesc  class="form-control" placeholder=""/>

  </td>
  </tr>
  <tr>

  <td style='vertical-align:middle'><label class='text-muted'>Long Description</label>
    <div class="popup" ng-click="leadme()">
        <i class="glyphicon glyphicon-question-sign"></i>
        <span class="popuptext" id="myPopup">leading option</span>
    </div>
  </td>
  <td>
    <textarea  ng-model="selected.longdesc" class="form-control" placeholder="" style="height:100px;" ></textarea>

  </td>
  </tr>

  <tr>

  <td style='vertical-align:middle'><label class='text-muted'>Price</label></td>
  <td>
    <div class="col-xs-4" >
    <input type='text'  ng-model="selected.price" class="form-control" placeholder="Example:Rs 100.00" style="margin-left: -16px;" >
  </div>
  <div class="col-xs-2">
      <label class='text-muted' style='vertical-align:middle'>Currency</label></div>
      <div class="col-xs-6">
        <select class="selectpicker" ng-model="selected.currency" style="width:25%" >
          <option>&#8377;</option>
          <option>$</option>
          <option>AUD</option>
          </select>

</div>
  </td>
  </tr>
  <tr ng-repeat="refer in selected.otherspecs">
  <td width="15%"><label class="text-muted">Specification</label></td>
  <td>
  <div class="col-md-4">

  <input type="text" class="form-control" ng-model="refer.label" placeholder="Label" style="margin-left:-16px">

  </div>
  <div class="col-md-4">
  <input type="text" class="form-control" ng-model="refer.desc" placeholder="Description" />
  </div>

  <div class="col-md-1">
  <button type="button" class="btn btn-default addButton" ng-show="$last" ng-click='addOther()'><i class="fa fa-plus"></i></button>
  <button class="btn btn-default deletButton" style="margin-top:25px;"ng-show="selected.otherspecs.length>1 && !$last" ng-click="deleterefer(refer)"><i class="fa fa-trash-o"></i></button>
  </div>
  </td>
  </tr>
  <tr>

  <td style='vertical-align:middle'><label class='text-muted'>Attachments
  <i class="fa fa-paperclip" aria-hidden="true" style="font-size:20px;"></i>
  </label></td>
  <td>
        <input type="file" ng-file-select="onFileSelect($files)"  ng-model="selected.attach" multiple>

  </td>
  </tr>
  <tr>
  <td style='vertical-align:middle'><label class="text-muted"> Tags </label></td>
  <td>
    <tags-input ng-model="selected.tags"></tags-input>  </td>
  </tr>
  </tbody>
  </table>
  </form>
  <div align="right">
  <button class="btn btn-default" ng-click="cancelProduct()">Cancel</button>
  <button class="btn btn-primary" ng-click="save()">Save</button>
  </div>
</div>
</div>
