<div class='col-xs-12' ng-controller="editFaqCtrl" ng-cloak>
    <div class="x_content">

        <label style="font-weight:300; font-size:18px; padding:10px;">Edit Faq</label>
        <form role="form" name="myForm">
            <table class="table table-hover" style="width:100%">
                <tbody>
<!--{{selected}}-->
                    <tr>
                        <td width="15%"><label class="text-muted">Question</label></td>
                        <td width="85%">
                            <input type="text" ng-model="selected.que" class="form-control "  placeholder="Type a Question" />
                            <!--<input type="text" name="que" value={{que}} ng-model="que"  class="form-control " ng-show="faqlist[0].faqs.que">-->
                        </td>
                    </tr>
                    <tr>
                        <td width="15%"><label class="text-muted">Answer</label></td>
                        <td width="85%">
                            <textarea type="text" ng-model="selected.ans" class="form-control " placeholder="Type an answer" /></textarea>
                            <!--<textarea type="text" ng-model="ans" name="ans" class="form-control " ng-show="faqlist[0].faqs.que"> {{faqlist[0].faqs.ans}}</textarea>
<input type="text" name="ans" value={{ans}} ng-model="ans"  class="form-control " ng-show="faqlist[0].faqs.ans">-->
                        </td>
                    </tr>

                    <!--<tr>
                        <td width="15%"><label class="text-muted">Tags</label></td>
                        <td width="85%">
{{selected.tag}}
                            <tags-input ng-model="selected.tag" /> </tags-input>
                        </td>
                    </tr>-->
                    <tr>
                        <td width="15%"><label class="text-muted">Attachments</label>
                            <div class="popup" ng-click="leadme()">
                                <i class="fa fa-question-circle-o"></i>
                                <span class="popuptext" id="myPopup">attach audio video or any file</span>
                            </div>
                        </td>
                        <td>
                            <div class="col-xs-3">
                                <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc" multiple>
                            </div>

                            <div class="col-xs-1" ng-show="selected.attachment.type=='img'">
                                <img style="width:100px; height:110px;" ng-src="{{imageSrc}}" ng-show="imageSrc" />
                                <img style="width:100px; height:110px;" ng-src="{{selected.attachment.src}}" ng-show="!imageSrc" />

                            </div>
                            <div class="col-xs-1" ng-show="selected.attachment.type=='video'">
                                <audio controls>
                                    <source src="attachment.src" type="audio/ogg">
                                    <source src="attachment.src" type="audio/mpeg"> Your browser does not support the audio tag.
                                </audio>

                            </div>
                            <div class="col-xs-1" ng-show="selected.attachment.type=='audio'">
                                <video width="100" height="110" controls>
                                    <source src="attachment.src" type="video/mp4">
                                    <source src="attachment.src" type="video/ogg"> Your browser does not support the video tag.
                                </video>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%"><label class="text-muted">Reference links</label></td>
                        <td width="85%">
                            <textarea type="url" id="myURL" value="" ng-model="selected.ref" class="form-control " placeholder="Ex:https://www.rytangle.com"
                            /></textarea>
                            <span>{{url}} </span>
                            <!--<textarea type="url" name="url"  class="form-control " ng-show="faqlist[0].faqs.url">{{faqlist[0].faqs.url}}</textarea>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--<div class="pull-left">
<input type="reset" value="reset" class="btn btn-primary">
</div>-->
        </form>


        <div align="right">
            <button class="btn btn-default" ng-click="#">Cancel</button>&nbsp;&nbsp;
            <button class="btn btn-info" ng-click="saveFaq()">Save</button>
        </div>
    </div>
</div>