<div class="x_panel tile" ng-controller="faqListCtrl" ng-cloak>
    <div class="x_content">
        <table class="table table-hover" style="width:100%">
            <thead>
                <th> </th>

                <th> Author </th>
                <th> Status </th>
                <th>   </th>
                <th> Last Updated </th>
            </thead>
            <tbody>


                <tr ng-repeat="item in faqlist" style='cursor:pointer;'>
                    <!--<tr ng-repeat="item in chats" style='cursor:pointer;' ng-click="addtab(item)">-->

                    <td  ng-click="addorremovetab('add',item)"> <h4> {{item.que}}</h4> <br>
                        <p> {{item.ans | limitTo:letterLimit}} ... </p>


                    </td>

                    <td style='text-align:left;vertical-align:middle; padding:0px; ' ng-click="addorremovetab('add',item)">{{item.author}}</td>

                    <td style='text-align:center;vertical-align:middle; padding:0px; ' ng-click="addorremovetab('add',item)">
                        <i class='fa fa-check' style='color:green' ng-show='item.status==true'></i>
                        <i class='fa fa-ban' style='color:red' ng-show='item.status==false'></i></td>
                    <td style='text-align:center;vertical-align:middle; padding:0px; ' ng-click="addorremovetab('add',item)" >
                        <i class="fa fa-paperclip " ng-show='item.attachment.type==file'></i>
                    </td>

                    <td style='text-align:center;vertical-align:middle; padding:0px; ' ng-click="addorremovetab('add',item)"> <span>{{item.LS*1000 | date:'HH:mm dd-MMM-yyyy'}}</span><br></td>
                    <td style='text-align:center;vertical-align:middle; font-size:20px'>
                        <td  ng-click="remove($index)"><i class="fa fa-trash-o"></i></td>

                    </td>




                </tr>

            </tbody>
        </table>
        <!--<h2 style='color:#bbbbbb; text-align:center' ng-show='!locations.length'> No Data Found</h2>-->
        <h2 style='color:#bbbbbb; text-align:center' ng-show='!faqlist.length'> No Data Found</h2>
    </div>
</div>