<div class="x_panel tile" ng-controller="locationListCtrl" ng-cloak>
        <div class="x_content" >
          <table class="table table-hover" style="width:100%">
            <thead>
             <th> Active </th>
              <th> Location Name </th>
              <th> Image </th>
              <th>Address</th>
              <th> City </th>
              <th> Country </th>
              <th> Zip </th>
              <th> Contact </th>
              <th> Longitude </th>
              <th> Latitude </th>
              <th> Last Updated </th>

            </thead>
            <tbody>
              <tr ng-repeat="item in locations" style='cursor:pointer;' ng-click="editloc(item.id)">
              <td style='text-align:left;vertical-align:middle'> <i class='fa fa-check' style='color:green' ng-show='item.avail'></i> <i class='fa fa-ban' style='color:red' ng-show='!item.avail'></i></td>
                <td> {{item.location}}</td>
                <td > <img src={{item.img}} style='width:40px; height:40px;' /></td>
                <td> {{item.address}}</td>
                <td> {{item.city}}</td>
                <td> {{item.country}}</td>
                <td> {{item.zip}}</td>
                <td> {{item.contact}}</td>
                <td> {{item.longitude}}</td>
                <td> {{item.latitude}}</td>
                <td> {{item.updateTs*1000 | date:'HH:mm dd-MMM-yyyy'}}</td>
                 <td style='text-align:center;vertical-align:middle; font-size:20px'>
  
    <button class="btn btn-danger btn-sm" ng-click="#"><i class="fa fa-trash"></i></button>
</td>
              </tr>
            </tbody>
          </table>
          <h2 style='color:#bbbbbb; text-align:center' ng-show='!locations.length'> No Data Found</h2>
        </div>
      </div>