<div class="x_panel tile" ng-controller="multimediaListCtrl" ng-cloak>
        <div class="x_content" >
          <table class="table table-hover" style="width:100%">
            <thead>
              <th> Text </th>
              <th> Image </th>
              <th> Audio </th>
              <th> Video </th>
              <th> Animation/Gif </th>
              <th> WebLink </th>
              <th> Last Modified </th>
            </thead>
            <tbody>
              <tr ng-repeat="item in multimedias" style='cursor:pointer;'>
               <td style="font-size:12px;text-align:left; vertical-align:middle"> {{item.text | limitTo:letterLimit}}</td>
                <td style='text-align:left; vertical-align:middle'> <img src={{item.img}} style='width:40px; height:40px;' /></td>
                <td style='text-align:left; vertical-align:middle'> 

                <audio controls>
  <source src={{item.audio}} type="audio/mp3">
  Your browser does not support the audio tag.
</audio>
                </td>
                <td style='text-align:left; vertical-align:middle'>
               <video width="320" height="140" controls>
       <source src={{item.video}} type="video/mp4">
        Your browser does not support the video tag.
        </video>

                  </td>
              <td style='text-align:left; vertical-align:middle'> <img src={{item.gif}} style='width:80px; height:80px;' /></td>
                 <td style='text-align:left; vertical-align:middle'>
                 <a href="https://rytangle.com/" src={{item.weblink}}>View link</a> </td>
                <td style='text-align:left; vertical-align:middle'> {{item.updateTs*1000 | date:'HH:mm dd-MMM-yyyy'}}</td>
               </tr>
            </tbody>
          </table>
          <h2 style='color:#bbbbbb; text-align:center' ng-show='!multimedias.length'> No Data Found</h2>
        </div>
      </div>
    </div>
