<!DOCTYPE html>
<html ng-app="dashboard">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="Favicon.ico" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/lib/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="assets/lib/dist/css/skins/_all-skins.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/nginput.css"><!--nginput css-->
  </head>
  <body class="hold-transition skin-black-light sidebar-mini" ng-controller="appCtrl" style="color:#73879C" ng-init='init()'>
    <div class="wrapper" ng-controller='dummydataCtrl'>

      <header class="main-header">
        <a href="#" class="logo">
          <span class="logo-mini"><img src="assets/img/minilogo.png" style='height:20px;'></span>
          <span class="logo-lg"><img src="assets/img/rytlogo.png" style='height:20px;'></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown notifications-menu">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-question"></i>
                </a>
              </li>

              <li class="dropdown notifications-menu">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-cog"></i>
                </a>
              </li>
              <li class="dropdown notifications-menu">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-sign-out"></i>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar" ng-controller="sideBarCtrl" ng-cloak style="font-size:13px; padding-top:50px;">
        <section class="sidebar">
          <ul class="sidebar-menu" ng-repeat="content in sidebarcontents.main">
              <li class="header">{{content.title}}</li>
              <li ng-repeat="item in content.contents" ng-class="{'active':sidebaractive==item.url}">
                <a ng-click="route(item.url)">
                  <i ng-class="item.icon"></i>
                  <span>{{item.title}}</span>
                </a>
              </li>
          </ul>
        </section>
      </aside>
        <div class="content-wrapper row">
          <div ng-class="{loading: loading}">
            <div ng-show="loading" class="app-content-loading" style="margin-top:50px;" align="center">
              <i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>
            <!-- <div class="app-content"> -->
              <ng-view style="padding:15px;"></ng-view>
            <!-- </div> -->
          </div>
        </div> <!-- ~ .app -->
        <div ui-yield-to="modals"></div>

      </div><!-- ./wrapper -->
    </body>
    <script src="assets/lib/angular.js"></script>
    <script src="assets/lib/angular-route.min.js"></script>
    <script src="assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <script src="assets/lib/tags-input.js"></script><!--nginput js-->
    <script src="assets/lib/dist/js/app.min.js"></script>
     <script src="assets/lib/chart.js/dist/Chart.min.js"></script> 
   <!--  <script src="assets/lib/angular-chart.js/dist/angular-chart.min.js"></script> -->
   <!-- <script src="assets/lib/highcharts/js/highcharts.js"></script> -->
     <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
   
    <script src="assets/js/appCtrl.js"></script>
    <script src="assets/js/dummydata.js"></script>
</html>
