/* toggel css begin : Anjan*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 11px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}
/*toggel css end */
/*popup css begin*/
  /* Popup container - can be anything you want */

    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* The actual popup */

    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }
    /* Popup arrow */

    .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    /* Toggle this class - hide and show the popup */

    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
    /* Add animation (fade in the popup) */

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

/*popup css end*/
/**/
.ryt-whynot5-btn{
  border: 1px inset rgba(170,13,14,0.2);
  border-radius:15px;
  width:100%;
  line-height: 30px;
  text-align: center;
}

.ryt-whynot5-btn-selected{
  border: 1px inset rgba(170,13,14,0.2);
  border-radius:15px;
  width:100%;
  line-height: 30px;
  text-align: center;
  background-color:#000000;
  color:#F16F2C;
}

.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  /*padding: 10px 17px;*/
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.x_title {
  border-bottom: 1px solid #efefef;
  /*padding: 1px 5px 6px;*/
  margin-bottom: 10px;
}
.x_title .filter {
  width: 40%;
  float: right;
}
.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.x_title h2 small {
  margin-left: 10px;
}
.x_title span {
  color: #BDBDBD;
}
.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px;
}
.x_content h4 {
  font-size: 16px;
  font-weight: 500;
}

.ryt-trans{
  background-color: transparent;
  border:none;
}

.leftrightpad{
 padding-right:10px;
 padding-left:5px;
}


/*css for flow chart*/


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom:0%; /* aspect ratio */
    vertical-align: middle;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


/*Add Agent*/

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}


.tab-container {
  background: #8dc8fb;
  margin: 0;
  padding: 0;
  max-height: 40px;
}
.tab-container ul.nav-tabs {
  margin: 0;
  list-style-type: none;
  line-height: 40px;
  max-height: 40px;
  overflow: hidden;
  display: inline-block;
  display: -webkit-flex;
  display: flex;
  padding-right: 20px;
  border-bottom: 5px solid #f7f7f7;
}
.tab-container ul.nav-tabs > li {
  margin: 5px -14px 0;
  -moz-border-radius-topleft: 28px 145px;
  -webkit-border-top-left-radius: 28px 145px;
  border-top-left-radius: 28px 145px;
  -moz-border-radius-topright: 28px 145px;
  -webkit-border-top-right-radius: 28px 145px;
  border-top-right-radius: 28px 145px;
  padding: 0 30px 0 25px;
  height: 170px;
  background: #c3d5e6;
  position: relative;
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  width: 200px;
  max-width: 200px;
  min-width: 20px;
  border: 1px solid #aaa;
}
.tab-container ul.nav-tabs > li:first-child {
  margin-left: 0;
}
.tab-container ul.nav-tabs > li:last-of-type {
  margin-right: 0;
}
.tab-container ul.nav-tabs > li > a {
  display: block;
  max-width: 100%;
  text-decoration: none;
  color: #222;
  padding: 3px 7px;
}
.tab-container ul.nav-tabs > li > a span {
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.tab-container ul.nav-tabs > li > a:focus, .tab-container ul.nav-tabs > li > a:hover {
  background-color: transparent;
  border-color: transparent;
}
.tab-container ul.nav-tabs > li > a .glyphicon-remove {
  color: #777;
  display: inline-block;
  padding: 3px;
  font-size: 10px;
  position: absolute;
  z-index: 10;
  top: 7px;
  right: -10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.tab-container ul.nav-tabs > li > a .glyphicon-remove:hover {
  background: #d39ea3;
  color: white;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.tab-container ul.nav-tabs > li.active {
  z-index: 2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 30, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background-image: -moz-linear-gradient(#ffffff, #f7f7f7 30px);
  background-image: -webkit-linear-gradient(#ffffff, #f7f7f7 30px);
  background-image: linear-gradient(#ffffff, #f7f7f7 30px);
}
.tab-container ul.nav-tabs > li.active > a {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: transparent;
}
.tab-container ul.nav-tabs > li.active > a:focus, .tab-container ul.nav-tabs > li.active > a:hover {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: transparent;
}
.tab-container ul.nav-tabs .btn {
  float: left;
  height: 20px;
  width: 35px;
  min-width: 35px;
  max-width: 35px;
  margin: 10px 0 0 0;
  border-color: #71a0c9;
  outline: none;
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}
.tab-container ul.nav-tabs .btn.btn-default {
  background: #c3d5e6;
}
.tab-container ul.nav-tabs .btn.btn-default:hover {
  background: #d2deeb;
}
.tab-container ul.nav-tabs .btn.btn-default:active {
  background: #9cb5cc;
}
.tab-container .tab-pane {
  padding: 60px 40px;
  text-align: center;
}
.tab-container .tab-pane.active {
  border-top: 1px solid #ddd;
}
