<div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                      <!-- The time line -->
                      <ul class="timeline">
                        <!-- timeline time label -->
                        <li class="time-label">
                          <span class="bg-grey">
                            Jan 2017
                          </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                          <i class="fa fa-facebook bg-blue"></i>
                          <div class="timeline-item" style="background-color:#f0f0f0;">
                            <span class="time"><i class="fa fa-calendar"></i> 15 Jan 12:05</span>
                            <h3 class="timeline-header">Connected on <a>Facebook Messenger</a></h3>
 <div class="timeline-body" style="background-color:#f0f0f0; min-height:30px;">
                            <a class="pull-right" ng-click="onClickTab({url:'assets/views/fbchat.html'})">Details</a>
                            </div>
                          </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline item -->
                        <li>
                          <i class="fa fa-comments bg-yellow"></i>
                          <div class="timeline-item" style="background-color:#f0f0f0;">
                            <span class="time"><i class="fa fa-calendar"></i>13 Jan 18:44</span>
                            <h3 class="timeline-header"><a>Feedback</a> @ <a> Indiranagar</a></h3>
                            <div class="timeline-body" style="background-color:#f0f0f0;">
                                  <span>Rating:</span> <span>5</span><br>
                                  <span>Concerns:</span> <a>Ambience</a>
                                  <a class="pull-right" ng-click="gotoDetail(modelfb,'/fbdtls')">Details</a>
                            </div>
                          </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline item -->
                        <li>
                          <i class="fa fa-shopping-bag bg-aqua"></i>
                          <div class="timeline-item" style="background-color:#f0f0f0;">
                            <span class="time"><i class="fa fa-calendar"></i> 13 Jan 17:59</span>
                            <h3 class="timeline-header no-border">Purchased at <a>Indiranagar</a></h3>
                            <div class="timeline-body" style="background-color:#f0f0f0;">
                                  <span>Value:</span> <label>&#8377;6720</label> <br>
                                  <span>Invoice:</span> <a>A6721</a>
                                  <a class="pull-right" ng-click="onClickTab({url:'assets/views/invoice1.html'})">Details</a>
                            </div>
                          </div>
                        </li>
                        <!-- END timeline item -->
                        
                        <!-- timeline time label -->
                        <li class="time-label">
                          <span class="bg-grey">
                            Dec 2016
                          </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                          <i class="fa fa-facebook bg-blue"></i>
                          <div class="timeline-item" style="background-color:#f0f0f0;">
                            <span class="time"><i class="fa fa-calendar"></i> 24 Dec 17:25</span>
                            <h3 class="timeline-header">Connected on <a>Facebook Messenger</a></h3>
                            <div class="timeline-body" style="background-color:#f0f0f0; min-height:30px;">
                              <a class="pull-right" ng-click="onClickTab({url:'assets/views/fbchat.html'})">Details</a>
                            </div>
                          </div>
                        </li>
                        <!-- END timeline item -->


                        <!-- timeline time label -->
                        <li class="time-label">
                          <span class="bg-grey">
                            Nov 2016
                          </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                          <i class="fa fa-comments bg-yellow"></i>
                          <div class="timeline-item" style="background-color:#f0f0f0;">
                            <span class="time"><i class="fa fa-calendar"></i>21 Nov 9:14</span>
                            <h3 class="timeline-header"><a>Feedback</a> @ <a> Marathalli</a></h3>
                            <div class="timeline-body" style="background-color:#f0f0f0;">
                              <span>Rating:</span> <span>4</span><br>
                              <span>Concerns:</span> <a>Parking</a>, <a>Speed of billing</a>
                              <a class="pull-right" ng-click="route('feedback')">Details</a>
                            </div>
                          </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline item -->
                        <li>
                          <i class="fa fa-facebook bg-blue"></i>
                          <div class="timeline-item" style="background-color:#f0f0f0;">
                            <span class="time"><i class="fa fa-calendar"></i> 15 Nov 12:05</span>
                            <h3 class="timeline-header">Connected on <a>Facebook Messenger</a></h3>
                            <div class="timeline-body" style="background-color:#f0f0f0; min-height:30px;">
                              <a class="pull-right" ng-click="onClickTab({url:'assets/views/fbchat.html'})">Details</a>
                            </div>
                          </div>
                        </li>
                        <!-- END timeline item -->


                         <!-- timeline time label -->
                        <li class="time-label">
                          <span class="bg-grey">
                            Jun 2016
                          </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                          <i class="fa fa-shopping-bag bg-aqua"></i>
                          <div class="timeline-item" style="background-color:#f0f0f0;">
                            <span class="time"><i class="fa fa-calendar"></i> 25 Jun 11:59</span>
                            <h3 class="timeline-header no-border">Purchased at <a ng-click="route('store')">Kammanahalli</a></h3>
                            <div class="timeline-body" style="background-color:#f0f0f0;">
                                  <span>Value:</span> <label>&#8377;4602</label> <br>
                                  <span>Invoice:</span> <a>B4681</a>
                                  <a class="pull-right" ng-click="onClickTab({url:'assets/views/invoice2.html'})">Details</a>
                            </div>
                          </div>
                        </li>
                        <!-- END timeline item -->


                        <li>
                          <i class="fa fa-caret-down bg-gray"></i>
                        </li>
                      </ul>
                    </div><!-- /.tab-pane -->
                  </div><!-- /.tab-content -->