<div class="col-xs-12" ng-controller="catormenudtlsCtrl" ng-init="init()" ng-cloak>
  <div class='col-md-12 col-sm-12 col-xs-12'>
    <ul class="breadcrumb" style="font-size:16px;">
      <li ng-click="route('/dashboard')"><a>Home</a></li>
      <li ng-click="route('/ctlgmnu')"><a>Catalogs/Menus</a></li>
      <li class="active">Catalog/Menu Details</li>
    </ul>
  </div>

  <div class='col-md-12 col-sm-12 col-xs-12' ng-controller="TabsCtrl">
    <div class="x_panel">
      <button class="btn btn-default" ng-repeat="tab in tabs.catormenu" ng-class="{'btn-info':isActiveTab(tab.url)}" ng-click="onClickTab(tab)" style="margin:2px;">{{tab.title}}</button>
    </div>
  </div>

  <div class="panel panel-info col-xs-12 col-sm-12 col-md-5">
    <div class="panel-body">
        <div class="th" style="font-size:16px;">Details</div>
        <table class="table table-hover" style="font-size:14px;">
          <tr><td>Type : </td><td>{{selected.show.type}}</td></tr>
          <tr><td>Title : </td><td>{{selected.show.title}}</td></tr>
          <tr><td>Status : </td><td>{{selected.show.status}}</td></tr>
          <tr><td>Date Of Creation : </td><td>{{selected.detail.dateofcreation}}</td></tr>
          <tr><td>Validity : </td><td>{{selected.show.validity}}</td></tr>
        </table>
    </div>
    <div class="panel">
      <ul  ng-repeat="entry in selected.contents"  style="font-size:14px;">
        <li><b>{{entry.title}}</b><i class="fa fa-angle-down pull-right"></i></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7">
    <div class="panel panel-info col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div ng-include="currentTab"></div>
    </div>
  </div>
</div>