<div class="col-xs-12" ng-controller="feedbackCtrl" ng-init="init()" ng-cloak>
<!--   <div class="row" style="margin-bottom:10px;" ng-controller="minidashCtrl">
    <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="info in topic.feedbacks">
      <div style='background-color:#276b8c; color:#ffffff; padding:1px; border-radius:2px; margin-bottom:5px;'>
        <div class="inner">
          <center><h4><b>{{info.main}}</b></h4></center>
          <center><p>{{info.sub}}</p></center>
        </div>
      </div>
    </div>
  </div> -->
  <div class='col-xs-12 x_panel tile' style="padding:15px 2px 15px 2px;">
    <div class="col-xs-4">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{filterby}}
          </button>
          <div class="dropdown-menu">
            <li ng-repeat="filterby in filters.filterby" ng-click="setcriteria(filterby)"><a class="dropdown-item">{{filterby}}</a></li>
          </div>
        </div>
        <input class='form-control' type='text' typeahead="state for state in states | filter:$viewValue | limitTo:8" typeahead-editable='false'/>
        <div class="input-group-btn">
          <button class="btn btn-info" type="submit"><i class="fa fa-filter"></i></button>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="input-group add-on dropdown-toggle">
        <input class="form-control" ng-model="searchKey" placeholder="Search" type="text">
        <div class="input-group-btn">
          <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="col-xs-5" align="right">
      <button class="btn btn-info"><i class="fa fa-download"></i> Export</button>
      <button class="btn btn-info" ng-click="route('/advancefilterfb')" ><i class="fa fa-filter"></i>Advance Filters</button>
    </div>
</div>

  <div class="row">
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <!--  -->
      <div class="nav-tabs-custom">
                <ul class="nav nav-tabs"  ng-controller="TabsCtrl">
                  <li ng-repeat="tab in tabs.initialfeedback" ng-class="{'active':isActiveTab(tab.url)}" ng-click="onClickTab(tab)"><a data-toggle="tab">{{tab.title}}</a></li>
                </ul>
                <div class="tab-content">
                  <div ng-include="currentTab"></div>
                </div>
              </div>
    </div>
  </div>
</div>