<div class="col-xs-12" style="padding-top:15px;" ng-controller="customerCtrl" ng-cloak>
      <div class="panel panel-info">
        <div class="panel-heading"><h4>Upload Customer Data</h4></div>
        <div class="panel-body">
          <p class="text-muted">Upload an Excel file to include more Customer Data. Please ensure that the Excel file uploaded is in the format specified in <a><b>Help Section</b></a>.</p>
          <br><br>
          <label class="control-label">Upload File:</label>
          <input type="file"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" placeholder="">
          <br><br>
          <hr style="margin:15px;">
          <div class="pull-right">
              <button class="btn btn-default" ng-click="route('/customers')">Cancel</button>
              <button class="btn btn-info" ng-click="route('/customers')">Submit</button>
          </div>
        </div>
      </div>
</div>